/Stephens_Curtis_Review_2/build/
/Stephens_Curtis_Review_2/dist/
/SimpleVectors/build/
/SimpleVectors/dist/
/Assignments/Stephens_Curtis_Review_3/build/
/Lab_SimVec_LinkList/build/
/Assignments/Assignment_0/build/
/Assignments/Assignment_0/dist/
/Lab_SimVec_LinkList/dist/
/Assignments/Assignment_LinkList/build/
/Assignments/Assignment_LinkList/dist/
/Assignments/Assignment_2/build/
/Assignments/Assignment_2/dist/
/Assignments/Lab_Perm_Combo/build/
/Assignments/Lab_Perm_Combo/dist/
/labs/Lab_Perm_Combo/build/
/labs/Lab_Perm_Combo/dist/
/Assignments/Roulette_Project_1/build/
/Assignments/Roulette_Project_1/dist/
/Project/Stephens_Curtis_MidtermProject_Roulette/build/
/Project/Stephens_Curtis_MidtermProject_Roulette/dist/
/Midterm/Problem_11/build/
/Midterm/Problem_11/dist/
/Midterm/Problem_12/build/
/Midterm/Problem_12/dist/
/Midterm/Problem_13/build/
/Midterm/Problem_13/dist/
/Midterm/Prob_13/build/
/Midterm/Problem_10/build/
/Midterm/Problem_10/dist/
/Midterm/Problem_8/build/
/Midterm/Problem_8/dist/
/Midterm/Problem_9/build/
/Midterm/Problem_9/dist/